.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  width: 400px;
  margin: auto auto;
  height: 600px;
  display: flex;
  background-color: rgb(228, 225, 225);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.textfield , .select {
  width:250px;
  
}

.step {
  margin: 0 45%;
  width:400px;
}

.erselect h4 {
  margin: 7px;
  color: red
}

.image {
  width: 70%;
  height: 50%;
}